html, body{
    max-width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}
a:hover{
    text-decoration: underline;
}

.nav-link:hover{
    text-decoration: none;
}
.hero-section{
   background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-top: 50px;
    /* opacity: 0.5; */
    /* position: relative; */
    z-index: -1;
}
@media (min-width:426px) {
    .hero-section{
        background-image: none;
    }
}
.hero-slider-img img{
    margin: auto;
    width: 100vw;
    height: 100vh;
}
.hero-section::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100vh;
    background-color: #21264f;
     opacity: 0.8;
    z-index: 1;
    top: 0;
    left: 0;
    /* margin-top: 50px; */
}
.hr-lines{
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 9;
}
.line-1{
    width: 400px;
    background-color: white;
}
.line-2{
    width: 500px;
    background-color: white;
}
.hero-heading{
    font-family: 'Lora', serif;
    font-size: 4rem;
    width: 60%;
    margin: auto;
    text-align: left;
    color: white;
    padding: 50px;
    z-index: 100;
    position: absolute;
    left: 14%;
    line-height: 1.5;
    display: none;
    /* z-index: 2222; */
    /* margin-top: 50px; */
    /* overflow: hidden; */
}
.info-heading{
    font-size: 2.25rem;
}
.info-text{
    line-height: 1.5rem;
    font-family: sans-serif;
    margin-right: 90px;
}
.work{
    background-color: #ada9a4;
    width: 100%;
}
.work-info{
    width: 67%;
    margin: 80px auto;
}

.card-desc{
    height: 300px;
    padding: 15px;
}
.work-desc{
    line-height: 1.5rem;
}
.work-heading, .work-desc{
    color: white;
}
/* .slider-mobile{
    display: none;
} */
.slider-mobile div{
    margin: auto;
}
.hsa-workers-row{
    margin: auto;
    justify-content: center;
}
.team-img{
    width: 30%;
    /* margin: auto; */
}
.card-text{
    line-height: 1.5rem;
}

.team-specialists{
    display: flex;
    justify-content: center;
    background-color: #21264f;
    padding:60px 0px !important;
}
.team-specialists-heading{
    color: white;
}
.team-info{
    color: white;
    text-align: left;
    flex-basis: 30%;
    margin-left: 150px;
}
.team-info a{
    color: white;
}
.footer{
    width: 73%;
}

@media screen and (max-width:950px) {
    .hero-heading{
        font-size: 2.5rem;
    }
}
@media screen and (max-width:1024px) {
    .hsa-workers{
        display: none;
    }
    .team-img{
        width: 90%;
        margin: auto;
    }
    .team-specialists{
        display: block;
    }
    .team-info{
        margin: 20px 35px;
    }
    .card-desc{
        height: 240px !important;
    }
    .card-desc .card-text{
        line-height: 1.7;
    }
    .info-row{
        display: block;
        text-align: left;
    }.info-heading{
        text-align: left;
    }
    .hero-heading{
        width: 90%;
        left: 0;
    }
    .hsa-card{
        width: 40rem;
    }
    .tablet-slide-col{
        width: 100%;
    }
}
@media (min-width: 1025px) {
    .slider-mobile {
      display: none;
    }
  }
@media screen and (max-width:760px) {
    body{
        width: 100vw;
    }
    h3{
        font-size: 1.3rem;
    }
    .logo img{
        width: 70%;
    }
    .hero-section{
        height: 200px;
    }
   
    .hsa-card{
        width: 90%;
    }
   
    .hero-section::after{
        height: 200px;
    }
    .hero-heading{
        font-size: 1.5rem;
        width: 100%;
        left: 0;
        line-height: 30px;
    }
    .team-specialists{
        display: block;
        /* padding: 20px; */
    }
    .team-img{
        margin: auto;
    }
    p{
        font-size: .875rem;
    }
    
    .info-row{
        display: block;
        /* width: 14rem; */
        margin: auto;
        padding: 30px 0px;
    }
    .info-heading{
        text-align: left;
        font-size: 1.7rem;
        width: 100%;
    }
    .info-heading-col{
        width: 50%;
    }
    .info{
        padding:  0px;
        width: 90%;
    }
    /* .work{
        width: 180vw;
    } */
    .work-info{
        width: 100%;
        overflow: hidden;
        margin: 65px auto;
        padding: 0px 25px;
    }
    .hsa-workers-row{
        display: block;
    }
    .team-info{
        width: 100% !important;
        /* margin-top: 15px; */
        margin: 20px 0px;
    }
    .team-img{
        width: 90%;
        /* margin: 15px 20px; */
    }
    .team-info h2{
        font-size: 2rem;
        margin: auto;
        display: block;
        text-align: center;
    }
    .team-info a{
        font-size: 1rem;
        /* text-align: center; */
        margin-left: 54px;
        
    }
    .hsa-card{
        height: 500px;
    }
   
    /* .hsa-workers{
        width: 10rem;
    } */
    /* .card{
        width: 14rem !important;
        margin: auto;
        right: 40px;
    } */
    .footer{
        width: 90%;
        font-size: 11px;
    }
}

@media screen and (max-width:425px) {
    .hero-slider{
        display: none;
    }
    .hero-heading{
        display: block;
    }
}